@tailwind base;
@tailwind components;
@tailwind utilities;

/* Variable Font */
@font-face {
  font-family: "Hanken Grotesk";
  src: url("./assets/fonts/HankenGrotesk-VariableFont_wght.ttf")
    format("truetype");
  font-weight: 1 1000; /* Set the font weight range for variable font */
}

@layer base {
  body {
    @apply font-hankenGrotesk text-lg
  }
}

@layer components {
  .attribution {
    font-size: 11px;
    text-align: center;
  }
  .attribution a {
    color: black;
  }
}
